* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
        width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(245, 245, 245, 0.308);
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom,#1b1e4b, #ffffff73);
}

body {
    background-color: #1b1e4b;
}

#title {
    text-align: center;
    -webkit-text-stroke: 1px #3D64B8;
    font: italic 3.2vmax Fantasy, Comic Sans MS;
    width: 30%;
    margin: auto;
    color: #FECA1B;
    padding: 2px;
    margin-top: 15px;
}

.poke-boxs {
    border-radius: 10px;
    background: linear-gradient(to bottom,#1b1e4b, #ffffff73);
    padding: 25px;
    box-shadow: 0px 20px 10px #ffffff1f;
    margin: 0 2%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1124px;
}
.poke-boxs img {
    width: 80%;
}

.poke-box {
    background-color: #ffd445;
    width: 29%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    font-family:cursive;
    color: #202031;
    box-shadow: 0px 0px 0px 1px black;
    max-width: 150px;
}

#align-poke {
    margin: auto;
    text-align: center;
    width: 80%;
}

@media screen and (min-width: 1172px) {
    
}